#reader #page_content pre {
	white-space: pre-wrap;
  padding: 15px;
	background: transparent;
}

/* Specify class=linenums on a pre to get line numbering */
#reader #page_content ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; }
#reader #page_content ol.linenums li { 
	color: #AEAEAE;
	font-size: 14px; 
	list-style-type: none; 
	line-height: 20px; 
}
/* Alternate shading for lines */
li.L1, li.L3, li.L5, li.L7, li.L9 {  }

#reader #page_content pre span {
	font-size: 14px;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #268bd2; }
.kwd, .tag { color: #195f91; }
.typ, .atn, .dec, .var { color: #CB4B16; }
.pln { color: #93a1a1; }
#reader #page_content pre.prettyprint {
  background: #fefbf3;
  padding: 9px;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#reader #page_content pre.prettyprint code {
	background: transparent;
}